
*{
	box-sizing: border-box;
	font-family: 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body{
	background-color: orange;
	/*background-image: linear-gradient(orange, darkorange);*/
}




/*************************************************
Тесты
*************************************************/

label{
	display: block;
	cursor: pointer;
}
label:hover{
	display: inline-block;
	color: red;
}

.wrapper{
	width: 700px;
	box-shadow: 2px 2px 4px grey;
	margin: 35px auto 50px;
	min-height: 105px;
	padding: 4px 95px 40px;
	background-color: white;
	
	/*animation: show_wrapper .8s ease-in-out;*/
}


 @keyframes show_wrapper {
	from { 
		opacity: 0;
		transform: translate(0, 50px);
	}
	to { 
		opacity: 1;
		transform: translate(0, 0);
	}
} 





h1{
	font-size: 20px;
	font-weight: normal;
	text-align: center;
	margin-bottom: 40px;
}

h2{
	font-weight: normal;
	font-size: 20px;
	margin-bottom: 5px;
	margin-top: 25px;
}

input[type="checkbox"]{
	margin-right: 5px;
}

.btn-submit{
	width: 330px;
	height: 51px;
	border: 2px solid #000;
	font-size: 20px;
	display: block;
	margin: 40px auto 0;
	text-align: center;
	/*background-image: linear-gradient(hsl(172, 87%, 47%), hsl(172, 87%, 37%));*/
	transition: all .3;
	background-color: black;
	color: white;
	/*background-color: white;*/
	/*color: black;*/
	outline: none;
}
.btn-submit:hover{
	background-color: red;
	border-color: red;
	background-image: none;
	/*color: black;*/
	cursor: pointer;
}


.answerCorrect{
	color: blue;
	display: none;
}













/*************************************************
Модальное окно
*************************************************/
#modal-overlay{
	
	position:fixed; /* всегдa перекрывaет весь сaйт */
	width:100%; 
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	z-index:1000; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	
	background-color:#000; /* чернaя */
	opacity:0.4; /* нo немнoгo прoзрaчнa */
	cursor:pointer;
	
	/*по умолчанию скрыто*/
	display:none; 
}



.my-modal{
	
	position: fixed;
	z-index: 1050;
	
	width: 600px;
	top:100px;
	left:50%;
	margin-left: -300px;

	box-sizing: border-box;
	padding: 25px;
	
	background-color: white;
	border: 1px solid grey;
	box-shadow: 3px 3px 6px #333;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

	display: none;
}

.my-modal .close{
	box-sizing: content-box;
	background-color: white;
	border-radius: 40px;
	border: 3px solid #555;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;

	position: absolute;
	right: -20px;
	top: -20px;
}
.my-modal .close:hover{
	background-color: #555;
	color: white;
	cursor: pointer;
}

.my-modal .modal-text{
	/*text-align: center;*/
}
